#django-cms
https://github.com/divio/django-cms/archive/3.0.0.beta3.zip

#Optional, recommended packages
Pillow
django-filer
cmsplugin-filer
django-reversion==1.7
django-blog-zinnia
cmsplugin_zinnia
djangocms_link
djangocms_text_ckeditor
Docutils
