{% extends "squelette.html" %}

{% load sekizai_tags %}
{% load cms_tags %}

{% block squel_right_menu %}
	{{ block.super }}
	{% placeholder right_menu_content %}
    {% block base_right_menu %}{% endblock base_right_menu %}
{% endblock squel_right_menu %}

{% block squel_content %}
	{{ block.super }}
	{% placeholder base_content %}
    {% block base_content %}{% endblock base_content %}
{% endblock squel_content %}

{% block squel_footer %}
	{% placeholder base_footer %}
    {% block base_footer %}{% endblock base_footer %}
{% endblock squel_footer %}