{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block base_content %}
<section role="main">
    <header class="hidden-sm" id="index">
        <div class="container">
            <h1>{% block page-icon %}<i class="fa fa-file-text-o"></i>{% endblock %}
                &nbsp;{% block page-title %}{% page_attribute "page_title" %}{% endblock page-title %}</h1>
        </div>
    </header>
</section>

{% block page_content %}
<section class="container">
    <div class="row">
        <div class="col-sm-12">
		{% placeholder page_content %}
        </div>
    </div>
</section>
{% endblock page_content %}

{% endblock base_content %}